* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	font-size: 1em;
	cursor: default;
	font-family: Arial, sans-serif;
}
@font-face {
  font-family: 'Action Icons';
  src: url('../font/action-icons.eot?89198305');
  src: url('../font/action-icons.eot?89198305#iefix') format('embedded-opentype'),
       url('../font/action-icons.woff?89198305') format('woff'),
       url('../font/action-icons.ttf?89198305') format('truetype'),
       url('../font/action-icons.svg?89198305#action-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	background-color: #ffd638;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
}
button, button *, 
[role=button], [role=button] * {
	font-family: 'Action Icons', Arial, sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:0;
}
button[disabled], button *[disabled], 
[role=button][disabled], [role=button] *[disabled] {
	opacity: 0.5;
	cursor: default;
}
input {
	cursor:text;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:0;
}
#app {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.top {
	background: #383838;
	position:fixed;
	top:0; left:0;
	width:100%;
	z-index:2;
	box-shadow: 0 0.3em 0.4em rgba(0,0,0,0.3);
}
.section {
	width: 100%;
	max-width: 30em;
	margin: auto;
	padding: 1em;
}
.choices {
	margin-top:7.75em;
	margin-bottom:6em;
}
@media (min-width:40em) {
	.choices  {
		margin-bottom:0;
	}
}
.choice {
	position: relative;
	width: 100%;
	padding-right: 3em;
	height: 3em;
}
.choices .empty {
	color:rgba(50,50,50,0.5);
	font-size:2em;
}
.choices .choice {
	overflow:hidden;
	transition: all 0.3s ease;
}
.choice:not(:last-child) {
	margin-bottom: 1em;
}
.choice-enter {
	height: 0em;
	opacity: 0;
	transform: scale(0.5);
}
.choice:not(:last-child).choice-enter {
	margin-bottom: 0;
}
.choice-enter.choice-enter-active {
	height: 3em;
	opacity: 1;
	transform: scale(1);
}
.choice:not(:last-child).choice-enter.choice-enter-active {
	margin-bottom: 1em;
}
.choice-leave {
	height: 3em;
	opacity: 1;
	transform: scale(1);
}
.choice:not(:last-child).choice-leave {
	margin-bottom: 1em;
}
.choice-leave.choice-leave-active {
	height: 0em;
	opacity: 0;
	transform: scale(0.5);
}
.choice:not(:last-child).choice-leave.choice-leave-active {
	margin-bottom: 0;
}
.choices .choice input {
	background: white;
}
.choice input {
	width: 100%;
	height: 3em;
	padding: 1em;
	line-height: 2em;
	border: none;
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}

.choice button {
	width: 3em;
	height: 3em;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	color: white;
}

.choice button span {
	font-size: 1.5em;
}

.choice button.add {
	background-color: #3498db;
}
.choice button.add:hover {
	background-color: #2B85C2;
}
.choice button.add:active {
	background-color: #1D6DA3;
}

.choice button.delete {
	background-color: #c44;
}
.choice button.delete:hover {
	background-color: #AF3535;
}
.choice button.delete:active {
	background-color: #902424;
}

.decide {
	position: fixed;
	background-color: #590;
	color: white;
	transition: all 0.2s cubic-bezier(.03,.54,.84,1);
	z-index:3;
	overflow:hidden;
}
.decide:after {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.decide.button {
	width:100%;
	border-radius: 6em;
	box-shadow: 0 0.4em 0.5em rgba(0,0,0,0.3);
	width:4em;
	height:4em;
	top:100%;
	right:1.5em;
	margin-top: -5.5em;
	display: inline-block;
	vertical-align: middle;
}
.decide.button:hover {
	background-color: #467E00;
}
.decide.button:active {
	background-color: #396600;
}

@media (min-width:43em) {
	.decide.button {
		top:5.75em;
		right:50%;
		margin-right: -21em;
		margin-top: 0;
	}
}

.decide.button span {
	font-size: 2em;
	line-height: 2em;
}

.decide.page {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #71AB28;
	color:#fff;
	text-align: center;
}

.decide.page .container {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}

.decide.page h1 {
	font-size: 3em;
	margin: 0;
	padding: 0;
	font-weight: 600;
}

.decide.page .action {
	position: absolute;
	bottom:0;
	right:0;
	width:100%;
	margin-top: 3em;
	z-index: 2;
	text-align: right;
	padding:1em;
	border-top:1px solid rgba(255,255,255,0.5);
	background:rgba(255,255,255,0.25);
}

.decide.page .action button {
	display: inline-block;
	margin: auto;
	font-size: 1.2em;
	border: none;
	color: white;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	box-shadow: 0 0.1em 0.15em rgba(0,0,0,0.3);
}

.decide.page .action .done {
	background:#fff;
	margin-left: 0.5em;
	color: #350;
}
.decide.page .action .done:hover {
	background-color: #f5f5f5;
}
.decide.page .action .done:active {
	background-color: #e8e8e8;
}

.decide.page .action .again {
	background:#444;
}
.decide.page .action .again:hover {
	background-color: #3d3d3d;
}
.decide.page .action .again:active {
	background-color: #333;
}

.adsbygoogle {
	position:absolute;
	top:0em;
	left:0;
	width:100%;
	height:5em;
}

.title.section {
	padding-bottom: 0;
	text-align: left;
	padding-right: 0;
	padding-left: 4em;
	padding-right: 4em;
	position: relative;
}

input.name {
	font-size: 1.5em;
	color: white;
	padding: 0 0.25em;
	margin: 0;
	display: inline-block;
	vertical-align: bottom;
	background: transparent;
	border: none;
	width: 100%;
}

.manage {
	font-size: 1.75em;
	background-color: white;
	margin: 0;
	display: inline-block;
	border: none;
	padding: 0;
	margin-right: 1em;
	border-radius: 0.25em;
	background: transparent;
	color: white;
	position: absolute;
	top: 0.25em;
	left: 0.5em;
	padding: 0.25em;
}

.lists {
	background:rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	left:0;
	z-index:3;
	width:100%;
	height:100%;
	color:#fff;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.lists .sidebar {
	background: #fff;
	color:#333;
	width:17em;
	position: absolute;
	top:0;
	left:0;
	height:100%;
	box-shadow: 0.2em 0 0.5em rgba(0,0,0,0.5);
	overflow: auto;
	-webkit-transition: -webkit-transform 0.25s, transform 0.25s;
	transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s, transform 0.25s;
}

.lists-enter {
	opacity:0;
}
.lists-enter.lists-enter-active {
	opacity: 1;
}
.lists-leave {
	opacity: 1;
}
.lists-leave.lists-leave-active {
	opacity: 0;
}

.lists-enter .sidebar {
	-webkit-transform:translateX(-17em);
	transform:translateX(-17em);
}
.lists-enter.lists-enter-active .sidebar {
	-webkit-transform:translateX(0);
	transform:translateX(0);
}
.lists-leave .sidebar {
	-webkit-transform:translateX(0);
	transform:translateX(0);
}
.lists-leave.lists-leave-active .sidebar {
	-webkit-transform:translateX(-17em);
	transform:translateX(-17em);
}

.lists .title {
	font-family: 'Action Icons', Arial, sans-serif;
	height:7.76em;
	background:#590;
	color:#fff;
	padding:1em;
	border-bottom:1px solid #396600;
}

.lists .title:before {
	content: '\2713';
	color:#fff;
	font-size:5.5em;
	display:block;
}

.lists button {
	border: none;
	border-bottom: 1px solid #ddd;
	background-color: white;
	padding: 1em;
	width: 100%;
	text-align: left;
	color:#333;
}

.lists button:before {
	content: '\2713';
	color: #590;
	padding-right:1em;
	display:inline-block;
	vertical-align:top;
}

.lists button:hover {
	color: #590;
}

.lists button:active {
	background-color: #f3f3f3;
}

.lists button .name {
	font-weight: bold;
	text-transform:none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:13em;
	display:inline-block;
	vertical-align:top;
}

.lists button .values {
	text-transform:none;
	color:#666;
	display:block;
	font-size:0.8em;
	padding-left:2.4em;
	max-height:3.4em;
	overflow:hidden;
}


.lists .add {
	text-align: left;
}

.lists .add:hover {
	color: #3498db;
}

.lists .add:before {
	content: '+';
	color: #3498db;
}

.lists .add:active {
	background-color: #f3f3f3;
}

.title .delete {
	position: absolute;
	padding: 1em 1.5em;
	padding-right: 1em;
	right: 0;
	top: 0;
	background: transparent;
	color: #999;
	border: none;
}

.title .delete:active {
	color: #c44;
}